{{ _("Specify a username and password for RPC or use the default values:") }}

<form action="/testcurrencies" method=POST>

<table>
    <tr>
        <td>
            {{ _("RPC Username") }}:
        </td>
        <td>
            <input type=text name=username value={{ defaultusername }}>
        </td>
    </tr>
    <tr>
        <td>
            {{ _("RPC Password") }}:
        </td>
        <td>
            <input type=text name=passphrase value={{ defaultpassphrase }}>
        </td>
    </tr>
    <tr>
        <td>
            {{ _("Wallet Password") }}:
        </td>
        <td>
            <input type=text name=walletpassphrase 
                   value={{ defaultwalletpassphrase }}>
        </td>
    </tr>
</table>


<br>
<input type=submit>
</form>